@model IEnumerable<ClinicaVeterinaria.Models.Consultas>

@{
    ViewBag.Title = "Consultas";
}

<h2>Listagem Consultas Efetuadas</h2>

<p>
    @Html.ActionLink("Criar Nova Entrada", "Criar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Animal.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Veterinario.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataConsulta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Animal.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Veterinario.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataConsulta)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.ConsultaID }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.ConsultaID }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id=item.ConsultaID })
        </td>
    </tr>
}

</table>
