@model ClinicaVeterinaria.Models.Veterinarios

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Veterinarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumPorta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumPorta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Andar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Andar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodPostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodPostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NIF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEntradaClinica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEntradaClinica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumCedulaProf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumCedulaProf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInscOrdem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInscOrdem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculdade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculdade)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
