@model IEnumerable<ClinicaVeterinaria.Models.Veterinarios>

@{
    ViewBag.Title = "Veterinários";
}

<h2>Veterinários que Prestam Consultas</h2>

<p>
    @Html.ActionLink("Criar Novo", "Criar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumPorta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Andar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodPostal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEntradaClinica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumCedulaProf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInscOrdem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faculdade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumPorta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Andar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodPostal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataEntradaClinica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumCedulaProf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInscOrdem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faculdade)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.VeterinarioID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.VeterinarioID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.VeterinarioID })
        </td>
    </tr>
}

</table>
