@model ClinicaVeterinaria.Models.Donos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Donos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NIF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIF)
        </dd>

    </dl>
</div>


@* Listar os ANIMAIS associados ao Dono *@
<div>
    <table class="table">
        <tr>
            <th>Nome</th>
            <th>Raça</th>
            @foreach (var animais in Model.ListaDeAnimais){
                <tr>
                    <td>@animais.Nome</td>
                    <td>@animais.Raca</td>

                    @foreach (var consulta in animais.Consultas){

                    }

                </tr>
            }
        </tr>
    </table>
</div>


<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.DonoID }) |
    @Html.ActionLink("Voltar ao Início", "Index")
</p>
