@model ClinicaVeterinaria.Models.Donos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Donos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NIF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIF)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DonoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
