@model IEnumerable<ClinicaVeterinaria.Models.Donos>

@{
    ViewBag.Title = "Donos dos Animais";
}

<h2>Donos dos Animais</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIF)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIF)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.DonoID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.DonoID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.DonoID })
        </td>
    </tr>
}

</table>
